:root {
    --rows-left: 2;
    --rows-right: 2;
} 
:root {
    --vhpx: 100vh;
    --tb: 63px;
    --pad: 60px;
    --gap: 30px;
}

body {
    background-color: #242424;
}
.col {
    display: flex;
}
.con {
    height: calc(100vh - var(--banner-footer-h, 0px));
    padding: var(--pad); 
}

.basic-box {
    padding: 1vw 2vw; border-radius: 1vw; background: #fff8f4; box-shadow: 0 0 2rem rgba(255, 255, 255, 0.5);
}

footer#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background-color: #000;
    width: 100%;
    padding: 1vw 2vw;
}
footer#footer .f-left, footer#footer .f-right {
    display: flex;
    align-items: center;
    gap: 2vw;
}
footer#footer span {
    display: block;
    font-size: 2vw;
    color: #fff;
}
footer#footer .f-left > span:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 1vw;
    font-weight: 700;
}
footer#footer .f-right span {
    font-weight: 700;
    color: #fff;
}
footer#footer .f-left > span:first-child {
    font-weight: 700;
    color: #fff;
}