.kosk-wrap { flex-direction: column; justify-content: center; gap: 12rem; background: #fffdf8; } 
.kosk-con-top { gap: 1vw; align-items: center; margin-bottom: 2vw; } 
.kosk-top { align-items: center; gap: 2vw; } 
.kosk-top .kosk-title { align-items: center; gap: 0.5vw; padding: 0.5vw 0; border-radius: 1vw; background-color: rgba(255,255,255,0.3); } 
.kosk-top .kosk-title i { font-size: 4vw; font-style: normal; } 
.kosk-top .kosk-title h2 { font-size: 3vw; color: #000; } 

.kosk-top p { font-size: 2.5vw; color: #000; } 
.kosk-top p em { font-size: 2.5vw; font-weight: 800; color: #000; } 

.kosk-contents { padding: 8rem 3rem; border-radius: 1vw; background-color: rgba(255,255,255,0.3); } 
.kosk-con-top { gap: 1vw; align-items: center; } 
.kosk-con-top i, .kosk-con-top h3 { font-size: 3vw; color: #000; } 

.kosk-col { gap: 3vw; align-items: center; margin-bottom: 2vw; } 
.kosk-wrap .kosk-contents .kosk-col.col .kosk-img~ul {
    width: 100%;
}
.kosk-col ul li { align-items: center; padding: 1vw 2vw; border-radius: 1vw; background: #e8e8e8; box-shadow: 0 0 2rem rgba(255, 255, 255, 0.5); } 

.kosk-col ul li + li { margin-top: 1.7vw; } 
.kosk-col ul li span, .kosk-col ul li span em { font-size: 2.4vw; color: #000; } 
.kosk-col ul li span em { font-weight: 700; color: #DF4300; }
.kosk-col ul li span + span { margin-left: 1vw; } 
.kosk-col ul li span:first-child { justify-content: center; align-items: center; min-width: 3.5vw; height: 3.5vw; padding: 0.3vw; border-radius: 100%; text-align: center; font-weight: 700; color: #000; background-color: #005eff; } 
.kosk-bottom { padding: 2vw; border-top: 5px solid #000; background: #fffdf8; box-shadow: 0 0 2rem rgba(255, 255, 255, 0.5); } 
.kosk-bottom strong { display: block; text-align: center; } 
.kosk-bottom strong, .kosk-bottom strong em { font-size: 13rem; color: #000; } 
.kosk-bottom strong em { color: #DF4300; } 


.kosk-wrap3 {
    height: calc(100vh - var(--banner-footer-h) - 31rem);
}


/* 유의사항 */
.kosk-wrap.kosk-wrap2 {
    flex-direction: row;
    justify-content: space-between;
}
.kosk-wrap2 .kosk-note {
    flex-direction: column;
    justify-content: center;
    gap: 0;
    width: 37%;
}
.kosk-wrap3 .kosk-note {
    width: 36%;
}
.kosk-wrap2 .kosk-note figure {
    width: 100%;
}
.kosk-wrap2 .kosk-note figure img {
    width: 100%;
}
.kosk-wrap3 .kosk-top .kosk-title {
    margin-top: 3rem;
}
.kosk-wrap2 .kosk-top .kosk-title h2 {
    display: flex;
    align-items: center;
    gap: 4rem;
}
.kosk-wrap2 .kosk-top .kosk-title h2 img {
    width: 11rem;
}

.kosk-wrap2 .kosk-contents {
    width: 63%;
    height: 100%;
    padding: 0;
    background-color: transparent;
}
.kosk-wrap3 .kosk-contents {
    width: 65%;
}
.kosk-wrap2 .kosk-col {
    margin-bottom: 0;
}
.kosk-wrap2 .kosk-col ul {
    display: flex;
    flex-direction: column;
}
.kosk-wrap2 .kosk-col, .kosk-wrap2 .kosk-col ul {
    height: 100%;
}
.kosk-wrap2 .kosk-col ul li {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1.6vw;
    flex: 1;
}
.kosk-wrap2 .kosk-col ul li .col {
    align-items: center;
}
.kosk-wrap2 .kosk-col ul li .col span {
    font-size: 3vw;
    font-weight: 600;
}
.kosk-wrap2 .kosk-col ul li .col .col {
    width: 4.5vw;
    height: 4.5vw;
    font-size: 2.5vw;
    color: #fff;
}