@charset 'UTF-8';

/* 강의 전 강사 소개 */
.lecture-intro01 {
    padding: var(--pad);
    background: #fffdf8;
}
.lecture-col.col {
    gap: 1vw;
    height: 100%;
}
.lecture-col.col > div {
    width: 40%;
    padding: 2vw;
}
.lecture-col.col > .lecture-left {
    width: 60%;
}
.lecture-left-top {
    margin-bottom: 3.7vw;
}
.lecture-left-top h2, .lecture-left-top em {
    color: #000;
}
.lecture-left-top h2 {
    margin-bottom: 2vw;
    border-radius: 1vw;
    font-size: 5vw;
    /* box-shadow: 0 0 2rem rgba(255, 255, 255, 0.5); */
}
.lecture-left-top em {
    font-size: 3vw;
    font-weight: 700;
}
.lecture-left-list li {
    display: flex;
    gap: 2vw;
    padding-left: 1vw;
    font-size: 3vw;
    font-weight: 600;
    line-height: 150%;
    color: #000;
}
.lecture-left-list li + li {
    margin-top: 1vw;
}
.lecture-left-list li span { display: inline-block; position: relative; width: 4rem; height: 4rem; border-radius: 100%; background-color: #00a7ff; box-shadow: 0 0 7rem #00a7ff; } 
.lecture-left-list li span:before { content: ""; display: block; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 2rem; height: 2rem; border-radius: 100%; background: linear-gradient(45deg, #00a7ff, #004cff); animation: mainBoxCircle 1.4s linear infinite; } 
.lecture-left-list li span {
    transform: translate(0px, 1.7vw);
}
.lecture-teacher-img {
    background: url(../img/lecture-text-img.jpg) top center;
}
.lecture-right.lecture-class-img.basic-box {
    background: url(../img/lecture-test-img01.jpg) center center;
    background-size: cover;
}

.lecture-intro01 {
    overflow: hidden;
}
.lecture-intro01 img {
    object-fit: contain;
    width: 100%;
}
.lectire-live {
    overflow: hidden;
    height: 100%;
    width: 70%;
    border-right: 1vw solid #fffdf8;
    background: url(../img/lectire-live.jpg) center center / 100%;
}
.lecture-transmission-wrap {
    display: flex;
    height: calc(100vh - var(--banner-footer-h, 0px));
}
.lecture-transmission {
    width: 30%;
}
.transmission-box {
    width: 100%;
    height: 25%;
}
.transmission-box + .transmission-box {
    border-top: 1vw solid #fffdf8;
}
.transmission-box01 {background: url(../img/transmission01.jpg) no-repeat center center / 100%;}
.transmission-box02 {background: url(../img/transmission02.jpg) no-repeat center center / 100%;}
.transmission-box03 {background: url(../img/transmission03.jpg) no-repeat center center / 100%;}
.transmission-box04 {background: url(../img/transmission04.jpg) no-repeat center center / 100%;}