@charset 'UTF-8';html, body { height: 100%; overflow: hidden; margin: 0; } 
* { box-sizing: border-box; } 

body { color: #fffdf8; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; } 


.main-wrap { height: calc(100dvh - var(--banner-footer-h)); background: #fffdf8; } 

.main-sec-wrap { gap: 2vw; min-height: 0; } 
.main-sec-wrap .left-sec { width: 57%; } 
.main-sec-wrap .right-sec { gap: 0 !important; width: 43%; } 
.main-sec-wrap .left-sec,
.main-sec-wrap .right-sec { flex-direction: column; gap: var(--gap); min-height: 0; } 

.main-box-title { display: flex; align-items: center; gap: 4rem; padding-left: 4rem; margin-bottom: 1.3vw; } 
.main-box-title span:last-child { font-size: 2.2vw; font-weight: 700; color: #000; } 
.main-box-title span:first-child { display: inline-block; position: relative; width: 2rem; height: 2rem; border-radius: 100%; background-color: #00a7ff; box-shadow: 0 0 7rem #00a7ff; } 
.main-box-title span:first-child:before { content: ""; display: block; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 2rem; height: 2rem; border-radius: 100%; background: linear-gradient(45deg, #00a7ff, #004cff); animation: mainBoxCircle 1.4s linear infinite; } 

@keyframes mainBoxCircle { 
 0% { width: 4rem; height: 4rem; } 
 100% { width: 8rem; height: 8rem; opacity: 0; } 
 }

.main-sec-wrap .main-box { border-radius: 1.0417vw; background-color: rgba(0,0,0,0.2); backdrop-filter: saturate(120%) blur(0.1042vw); overflow: hidden; background-color: rgba(255,255,255,0.2); } 
.main-sec-wrap .left-sec > .main-box { height: 100%; } 
.main-sec-wrap .right-sec > .main-box:first-child { flex: 65%; } 
.main-sec-wrap .right-sec > .main-box:last-child { flex: 35%; } 
.main-sec-wrap .right-sec > .main-box + .main-box { margin-top: 3rem; background-color: #e8e8e8;} 
.main-box-con { display: flex; flex-direction: column; width: 100%; } 
.main-box-con:first-child {
    width: 100%;
}

/* ===== 강사 프로필 ===== */
/* .instructor { overflow: hidden; height: 50%; } 
.instructor img { width: 100%; height: 100%; object-fit: cover; } 
.instructor-name { margin-bottom: 6rem; padding: 0.8vw 1.7vw; border-radius: 0.5208vw; font-size: 2.5vw; line-height: 1.3; color: #010101; background-color: rgba(255, 255, 255, 0.5); }  */

/* ===== 오늘의 프로그램 ===== */
.main-box.today-box { gap: var(--gap); padding: 0; background-color: transparent; } 
.main-box.today-box .today-top, .main-box.today-box .today-right { width: 100%; height: 100%; } 
.main-box.today-box .today-right { flex-direction: column; } 

.today-left { overflow: hidden; display: flex; flex-direction: column; min-width: 23vw; height: 100%; border-radius: 1.0417vw; background-color: rgba(255, 255, 255, 0.2); } 
.today-top-txt { } 
.today-top-txt { padding: 1.5625vw 0; height: calc(50% - 3rem); border-radius: 1.0417vw; } 
.main-wrap .today-top-txt .instructor-name {
    color: #000;
    background: #e8e8e8;
} 
.today-top-txt ul li + li { margin-top: 4rem; } 
.today-top-txt ul li span { font-size: 2vw; color: #000; } 
.today-top-txt ul li { display: flex; align-items: center; gap: 3rem; padding-left: 3rem; } 
.today-top-txt ul li span:first-child { display: inline-block; width: 2rem; height: 2rem; border-radius: 100%; background-color: #000; } 


.today-right { height: 100%; } 
.main-box.today-box .today-right .today-top-txt ul li { text-align: left; font-size: 7rem; } 
.main-box.today-box .today-right .today-top-txt ul li + li { margin-top: 4rem; } 
.today-right > ul { flex-direction: column; gap: 2vw; margin: 0; padding: 0; list-style: none; justify-content: space-between; height: 100%; } 

.today-right > ul li { flex: 1 1 0; align-items: center; gap: 1vw; padding: 0.7812vw 1.0417vw; border-radius: 1.0417vw; background: rgba(255,255,255,0.2); } 
.edu-top {
    display: flex;
    align-items: center;
}
.today-right > ul li.now {
    display: flex;
    flex: 2 2 0;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0;
    border: 7px solid rgb(0 104 255);
    background-color: #f3f4ff;
}
.today-right li span { text-align: left; font-size: 1.4vw; line-height: 1.4vw; color: #000; } 
.today-right > ul li .edu-top span:first-child { display: inline-block; margin-right: 2rem; padding: 1.6rem 3rem; border-radius: 5rem; font-weight: 700; white-space: nowrap; color: #fff; background-color: #0553da; } 
.today-right li .edu-top span:last-child { display: inline-block; font-size: 2.2vw; font-weight: 700; white-space: nowrap; opacity: .9; transform: translate(0px, 5px); } 
.today-right li > span { overflow: hidden; display: -webkit-box; min-width: 0; margin-top: 6rem; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 1.35; font-size: 2.4vw; font-weight: 600; } 
.today-right > ul .class .edu-top span:first-child { background-color: #0553da; } 

.today-right li.end span { font-size: 1.4vw; color: #00000070; }
.today-right li.end > span { margin-top: 2rem; font-size: 1.8vw; }
.today-right > ul li.end .edu-top span:first-child { background-color: #999; } 


/* ===== 날씨 ===== */
.main-box.weather-box { flex-direction: column; justify-content: space-between; gap: 1.0417vw; padding: 1.5625vw 1.0417vw; background: linear-gradient(45deg, #00a7ff 50%, #b5e5ff); border: none; } 
.main-wrap #weather { display: flex !important; justify-content: space-between; align-items: center; gap: 1.0417vw; } 
.main-box .weather-left { flex-direction: column; align-items: flex-start; } 
.weather-left-top { gap: 1vw; margin-bottom: 0.5208vw; } 
.main-box .weather-left #city, .main-box .weather-left #temp { font-size: 2vw; line-height: 1; font-weight: 700; color: #fff; } 
.main-box .weather-left #temp { font-size: 2vw; }
.main-box .weather-left #desc { font-size: 3vw; line-height: 1.25; font-weight: 700; color: #fff; } 

.main-box .weather-right {
    height: 100%;
}
.main-box #weather-icon {
    display: flex !important;
    align-items: center;
    position: absolute;
    right: -49px;
    top: -58px;
    width: 63rem;
    height: auto;
    padding: 0;
    border-radius: 0.5208vw;
    background-color: transparent;
} 
.main-box #weather-icon img {
    width: 100%;
}
#desc {
    padding-left: 8rem;
}

.weather-city-wrap { display: flex; align-items: center; } 
.weather-city-wrap span svg { width: 8rem; } 
.weather-city-wrap span svg path { fill: #fff; } 

/* ===== 주간 날씨 ===== */
.weekly-title-wrap { padding: 0.6vw 0; border-top: 0.0521vw solid rgba(255,255,255,0.45); text-align: center; font-size: 9rem; font-weight: 700; line-height: 1.35; color: #fff; } 
.weekly-weather-wrap ul { justify-content: space-around; gap: 0.7812vw; padding: 1.2604vw 0.5208vw; border-radius: 0.5208vw; background-color: rgba(0,0,0,0.2); } 
.weekly-weather-wrap ul li { display: flex; flex-direction: column; align-items: center; gap: 0.3125vw; font-size: 1.1458vw; line-height: 1.35; } 
.weekly-weather-wrap ul li .t-low, .weekly-weather-wrap ul li .t-high { font-size: 1.0417vw; line-height: 1.3; } 
.weekly-weather-wrap ul li .t-high { font-weight: 700; } 
.weekly-weather-wrap ul li h4 { font-size: 6rem; color: #fff; } 

li.day figure { display: flex; width: 11rem; } 
li.day figure img { width: 100%; } 


/* ===== 시간 박스 ===== */
.main-box.hours-box {
    position: relative;
    padding: 1vw;
}
.main-hours {
    display: inline-block;
    width: 100%;
    padding: 0.5vw 1vw;
    border-radius: 1vw;
    text-align: center;
    font-size: 6.4vw;
    color: #000;
    background-color: #fffdf8;
}
.amPm {
    display: block;
    text-align: center;
    font-size: 4.4vw;
    font-weight: 700;
    color: #000;
    margin-bottom: 1vw;
}